body {
    padding: 0;
    margin: 0;
}

.main-body {
    padding: 3em 4em;
}


.debug {
    border: 1px solid black;
}

.loader-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader-container > .spinner-grow {
    margin-bottom: 3em;
}

.loader-container > .legend {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1px;
}
.flag {
    width: 90px;
    height: 90px;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}
.row__with_pointer {
    cursor: pointer;
}
.table--row {
    background-color: inherit;
}
.table--row:hover {
    transition: ease 300ms;
    background-color: rgb(243, 243, 243);
}
/* * @ pretty sure this wont work may delete laterflag */
.table-container {
    transition: all ease 300ms;
}

.filter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.filter > input {
    padding: .5em .25em;
    transition: ease 300ms;
    margin: .5em 0;
    border: none;
    border-bottom: 1px solid rgb(43, 43, 43);
    background-color: rgb(252, 252, 252);
    margin-bottom: 1rem;
}

.filter > input:focus {
    padding: .5em .5em;
    transition: ease-in 150ms;
    background-color: rgb(230, 230, 230);
    outline: none;
    border-bottom: 1px solid rgb(97, 97, 97);
}
.filter > input:focus::placeholder {
    transition: all ease 300ms;
    color: rgb(190, 190, 190);
}
.filter > label { 
    padding: 0;
    margin: 0;
    font-size:1.25em;
    font-weight: bold;
}

.wk-button {
    transition: all ease 300ms;
    border: none;
    font-size: 1em;
    font-weight: 500;
    padding: .5em 1.25em;
    line-height: 1em;
    border-radius: .25em;
}

.button--red {
    background-color: rgb(255, 88, 88);
    color: white;
}
.button--red:hover {
    background-color: rgb(250, 8, 8);
}
.button--blue {
    color: white;
    background-color: rgb(88, 88, 255);
}
.button--blue:hover {
    background-color: rgb(8, 8, 255);
}
.m-t--2 {
    margin-top: 2em;
    margin-bottom: 1.5em;
}