body {
    padding: 0;
    margin: 0;
}

.main-body {
    padding: 3em 4em;
}


.debug {
    border: 1px solid black;
}

.loader-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader-container > .spinner-grow {
    margin-bottom: 3em;
}

.loader-container > .legend {
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1px;
}
.flag {
    width: 90px;
    height: 90px;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: center;
    -o-object-position: center;
}
.row__with_pointer {
    cursor: pointer;
}
.table--row {
    background-color: inherit;
}
.table--row:hover {
    transition: ease 300ms;
    background-color: rgb(243, 243, 243);
}
/* * @ pretty sure this wont work may delete laterflag */
.table-container {
    transition: all ease 300ms;
}